<h2>Invoer gebruiker</h2>
<form asp-controller="Gebruikers" asp-action="Invoer">
    @if (ViewBag.Foutmelding != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Foutmelding
        </div>
    }
    <div class="mb-3">
        <label for="username" class="form-label">Gebruikersnaam:</label>
        <input id="username" type="text" name="gebruikersnaam" class="form-control" />
    </div>
    <div class="mb-3">
        <input type="submit" value="Verzenden" class="btn btn-primary" />
    </div>
</form>